<div class="d-flex">
    <div style="height: 101vh;width: 150px;" class="sidebar bg-success text-light p-3 d-flex flex-column">
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/users">Users</a>
         
    </div>
    <div class="dashboard p-3 w-100">
      <h1 >Users List</h1>
      <button routerLink="add" style="margin-left: 1240px;margin-top: -100px;overflow: hidden;" class="btn btn-success"><i class="fa-solid fa-users"></i>Add</button>
      <div style="margin-top: -5px;">
        <span style="font-size: 20px;">Search </span> <input style="height: 35px;width: 280px;" type="text" placeholder="Search by UserName" [(ngModel)]="searchKey">

       <div class="" style=" margin-left: 430px;margin-top: -32px;">
          <button style="width: 70px;" class="btn btn-warning" mat-button [matMenuTriggerFor]="menu">Sort</button>
          <mat-menu #menu="matMenu">
          <button (click)="sortById()" mat-menu-item>By UserId</button>
          <button (click)="sortByUsername()" mat-menu-item>By Username</button>
          </mat-menu>
          <button (click)="generatePDF()" style="margin-left: 740px;" class="btn btn-success ">Export</button>
       </div>


      </div>
      <table class="table mt-5 shadow">
       <th>User ID</th>
       <th>User Name</th>
       <th>Email</th>
       <th>Status</th>
       <th>Actions</th>
       <tbody>
        <tr *ngFor="let user of allUsers | search : searchKey | paginate: { itemsPerPage: 5, currentPage: p }" [hidden]="user.id==='1'">
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
          <td> <span [ngClass]="user.active=='1'?'btn btn-success':'btn btn-danger'">{{user.active=="1"?"Active":"InActive"}}</span></td>
          <td ><a routerLink="edit/{{user.id}}"> <i class="fa-solid fa-pen text-success btn"></i></a>
            <i (click)="removeUser(user.id)" class="fa-solid fa-trash text-danger btn"></i>
          </td>
        </tr>
        <tr *ngIf="(allUsers|search:searchKey).length===0">
          <p class="fw-bolder text-danger">User does not exist!!!</p>
        </tr>
       </tbody>
      </table>
<div class="text-center mt-5 ">
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
  
</div>    
</div>

</div>