<div class="d-flex">
    <div *ngIf="showSidebar" style="height: 91vh;width: 150px;" class="sidebar bg-success text-light p-3 d-flex flex-column">
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/dashboard">Home</a>
        <a style="text-decoration: none;margin-top: 10px;font-weight: bold;color: white;" routerLink="/users">Users</a>
         <button  class="btn btn-warning mt-4" (click)="logout()">LogOut</button>
    </div>
    <div class="dashboard p-3 w-100">
      <div class="row">
        <div class="col-lg-8">
          <div style="height: 180px;background-image: url('https://img.freepik.com/free-vector/watercolor-emerald-background_23-2150270303.jpg');background-size: cover;" class="admin-banner d-flex align-items-center  rounded  shadow">
           <h1 class="ms-5 fw-bold  d-flex  align-items-center text-light  text-center fs-3" style="overflow: hidden;"><i (click)="menuClick()"  class="fa-solid fa-bars me-3"></i>Welcome {{admin_name}}</h1>
          </div>
          <div class="row mt-3">
            <div class="col-lg-5" >
                 <!-- <h1> Calendar</h1> -->
                 <mat-card class="demo-inline-calendar-card">
                  <mat-calendar [(selected)]="selected"></mat-calendar>
                </mat-card>
               
          </div>
          <div class="col-lg-1"></div>
          <div class="col-lg-6 border rounded shadow">
           <app-chart></app-chart>
    </div>
  </div>
          </div>
        <div class="col-lg-4">
           <div style="height: 460px;" class="edit-admin rounded shadow p-3">
           <app-update-admin (onAdminChange)="getUpdatedAdmin($event)"></app-update-admin>
          </div>
           <div style="height: 150px;background-image: url('https://img.freepik.com/free-vector/watercolor-emerald-background_23-2150270303.jpg');" class="mt-2 border rounded shadow p-2 bg-dark text-light d-flex align-items-center justify-content-center"> 
            <h2 class="fw-bold"><i class="fa-solid fa-users me-2"></i>Employees : {{employeeCount}}</h2>
          </div>
      </div>
    </div>

</div>
</div>
